.product-filter-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 2rem 0;
  justify-content: center;
}

.filter-btn {
  background-color: #333;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.filter-btn:hover {
  background-color: #555;
}
